.navbar-brand {
    margin-right: 0px;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: #d2fa41;
}
:root {
    --bs-link-color: #00000;
    --bs-link-hover-color: #d2fa41;
}
.navbar {
    --bs-navbar-padding-y: 0px;
}
.nav {
    --bs-nav-link-padding-x: 2rem;
}
.planos {
    text-align: center;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}
.row {
    margin-left: 7rem;
}
.btn {
    --bs-btn-border-radius: 2rem;
    border: #d2fa41;
    background-color: #d2fa41;
}
